<form action="/memo/<%= @memo['id'] %>" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="title" name="title" value="<%= @memo['title'] %>" required>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="memo"><%= @memo['memo'] %></textarea>
  </div>
  <input type="hidden" name="_method" value="patch">
  <input type='submit' class="btn btn-success" value="変更">
</form>
<button class="btn btn-light" onclick="history.back()">戻る</button>
