<form action="/memo/<%= @memo['id'] %>" method="post">
  <div class="input-memotitle">
    <input type="text" id="title" name="title" value="<%= @memo['title'] %>">
  </div>
  <div class="input-memotext">
    <textarea name="memo" cols="30" rows="5"><%= @memo['memo'] %></textarea>
  </div>
  <div>
    <input type="hidden" name="_method" value="patch">
    <input type='submit' value="変更">
  </div>
</form>
<button type="button" onclick="history.back()">戻る</button>
