<a class="btn btn-success" href='/memo/compose'>追加</a>
<div class="list-group">
  <% @memos.each do |key, value| %>
    <li class="list-group-item">
      <a href="/memo/<%= key %>"><%= h value['title'] %></a>
    </li>
  <% end %>
</div>
