<a class="btn btn-success" href='/memo/compose'>追加</a>
<div class="list-group">
  <% @memos.each do |id, memo| %>
    <li class="list-group-item">
      <a href="/memo/<%= id %>"><%= h memo[:title] %></a>
    </li>
  <% end %>
</div>
